{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimun-scale=1.0 ">
    <title>~ Almacen Yuyitos ~ </title>
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static  'app/css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/c51bd5a0a9.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% load static %}
</head>

<!--Navbar-->

<body style="background-image: url({% static 'app/img/fondotester.jpg' %})">

    <header>
        <div class="contenedor">
            <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons" style="font-style: normal; margin-top: 5px;"><img
                        src="{% static 'app/img/2.png' %}" alt=""></a>
            <!-- visualizar menu al momento de ejecutar responsive-->
            <input type="checkbox" name="" id="menu-bar">
            <label for="menu-bar"><i class="fa-solid fa-bars" style="color: white;"></i></label>
            <!-- menu -->
            <nav class="menu">
                <div class="buscar">
                    <form action="{% url 'filtroPC' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="txtFiltrar" id="txtFiltrar">
                </div>
                <input type="submit" value="Buscar"
                    style="background-color: #DD4A48; border-color: #DD4A48; padding: 0px;">
                </form>
                <a href="{% url 'catalogo' %}">Catálogo</a>
                <a href="{% url 'productos' %}">Productos</a>
                {% if user.is_authenticated %}
                <a>{{user.username}}</a>
                <a href="{% url 'logout' %}">Cerrar Sesion</a>
                {% else %}
                <a href="{% url 'login' %}">Iniciar Sesion</a>
                {% endif %}
                <a href="{% url 'carritodecompras' %}"><i class="glyphicon glyphicon-shopping-cart"></i></a>
            </nav>
        </div>
    </header>


    <br><br><br><br><br><br>
    <!--Fondo de la página-->


    {% block contenido %}

    {% endblock %}
    <!--Espaciados-->
    <br><br>
    <!--Footer-->
     <footer class="page-footer" id="footers" style="background-color: #DD4A48;">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><b>Acerca de Almacen YUYITOS</b></h5>
                    <a href="{% url 'quienessomos' %}">
                        <p class="grey-text text-lighten-4">
                            <H6 style="color: white;">¿Quienes Somos?</H6>
                        </p>
                    </a>
                    <a href="{% url 'quienessomos' %}">
                        <p class="grey-text text-lighten-4">
                            <H6 style="color: white;">Términos y condiciones</H6>
                        </p>
                    </a>
                    <a href="{% url 'quienessomos' %}">
                        <p class="grey-text text-lighten-4">
                            <H6 style="color: white;">Politica de privacidad</H6>
                        </p>
                    </a>
                    <a href="{% url 'quienessomos' %}">
                        <p class="grey-text text-lighten-4">
                            <H6 style="color: white;">Información legal</H6>
                        </p>
                    </a>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">¡Síguenos en instagram!</h5>
                    <ul>
                        <li><a class="fa fa-instagram" href="https://www.instagram.com/almacenyuyitos/"
                                style="color: white; font-size: 20px;"></a></a>
                            <br><br>
                            <h5 class="white-text">¡Medios de Pago! <br> <br>
                                <p>- RedCompra <br><br></p>
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2022 Copyright Pagina Web
                <a class="grey-text text-lighten-4 right" href="https://wa.me/+56994888066">¡Contáctanos!&nbsp;&nbsp;<p
                        class="fa fa-whatsapp"></p></a>
            </div>
        </div>

    </footer>
    {% block js %}
    {% endblock %}
</body>

</html>