{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'app/css/categorias.css' %}">
{% endblock %}
{% block contenido %}

<div class="container" id="tablahorario">
  <table class="table" id="tablahorario">
    <thead class="thead-dark">
      <tr>
        <th scope="row" colspan="5" class="text-center" style="font-size: xx-large;">TU BUSQUEDA</th>
      </tr>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Stock Disponible</th>
        <th>Valor</th>
        <th>Añadir a Carrito</th>
      </tr>
    </thead>
    <tbody>
      {% for reg in producto %}
      <tr>
        <td>{{reg.nombre}}</td>
        <td>{{reg.descripcion}}</td>
        <td>{{reg.stock}}</td>
        <td>$ {{reg.precio}}</td>
        <td><a href="{% url 'Add' reg.id_producto %}" class="btn btn-danger">Añadir</a> </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock contenido %}
{% block js %}

{% endblock js %}