{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'app/css/categorias.css' %}">
{% endblock %}
{% block contenido %}
  <div class="card" style="left: 570px;width: 300px; border-radius: 20px;">
    <br>
    <h2 style="text-align: center;">Metodos de Entrega</h2>
    <br><br>
    <a href="{% url 'fiado' %}"><h4 style="text-align: center;">Despacho Domicilio</h1></a>
    <p style="text-align: center;">--------------------------------------------</p>
    <a href="{% url 'mediosdepago' %}"><h4 style="text-align: center;">Retiro Local</h1></a>
    <br>
  </div>
{% endblock contenido %}
{% block js %}

{% endblock js %}