{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'app/css/categorias.css' %}">
{% endblock %}
{% block contenido %}
  <div class="card" style="left: 570px;width: 300px; border-radius: 20px;">
    <br>
    <h2 style="text-align: center;">Metodos de Entrega</h2>
    <br><br>
    <a href="{% url 'fiado' %}"><p style="text-align: center;"><img src="{% static 'app/img/deliveryyuyos.jpg' %}" alt="" height="100" width="100"></p></a>
    <p style="text-align: center;">--------------------------------------------</p>
    <p style="text-align: center; font-size: x-large;">Retiro Local</p>
    <a href="{% url 'mediosdepago' %}"><p style="text-align: center;"><button type="submit" class="btn btn-primary mb-2">Pagar</button></p></a>
    <br>
  </div>
{% endblock contenido %}
{% block js %}

{% endblock js %}