{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'app/css/categorias.css' %}">
{% endblock %}
{% block contenido %}
<section id="categorias">
  <div class="contenedor">
    <article> 
      <a>
        {% if producto.img_producto %}
            <img src="data:img_producto/png;base64, {{p.img_producto}}" width="100px" height="100px" alt="">
        {% endif%}
          <h4 >{{producto.nombre}}</h4>
          <p>{{producto.descripcion}} <br>$ {{producto.precio}}</p><br>
        <a href="{% url 'Add' producto.id_producto %}" class="btn btn-danger">Añadir al Carrito</a>  
        </a>
        
      </article>
    </div>
  </div>
  {% endblock contenido %}
  {% block js %}

  {% endblock js %}