{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'app/css/categorias.css' %}">
{% endblock %}
{% block contenido %}

{% for reg in productos %}
<section id="categorias">
  <div class="contenedor">
  
  <article> 
      <a href="/visualizar_prod/{{reg.id_producto}}/">
        {% if reg.img_producto %}
            <img src="data:img_producto/png;base64,{{reg.img_producto}}" width="100px" height="100px" alt="">
        {% endif%}
          <h4 >{{reg.nombre}}</h4>
          <p>{{reg.descripcion}} <br>{{reg.precio}}</p><br>
        </a>
        <a href="{% url 'Add' reg.id_producto %}" class="btn btn-danger" style="left: 40px;">Añadir al Carrito</a>
  </article>
  </div>
</section>
{% endfor %}
{% endblock contenido %}
{% block js %}

{% endblock js %}